<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="com.softkit" level="DEBUG"/>
    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-10.10thread | %X{tenantCode} | %5p | %-36.36logger{36} | %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>
